hgroup {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 51px;
}
hgroup h1 {
    text-align: left;
	font-size: 40px;
	font-weight: 700;
}
hgroup p {
	color: #6a6e62;
	font-size: 24px;
	font-weight: 600;
}
